body {
  margin:0;
  padding:0;
 }

.box1{ 
  position: absolute;
  transform: translate(-50%,-50%);
  overflow: hidden;

}
.box1 iframe{
  transition: 2.5;
  width: 100%;  
}

.box1:hover iframe{
transform: scale(1.5);
}
