body
{
    Margin: 0;
    pagging: 0;
 
}

.slide {
  width: 100vw;
  height: 100vh;
 
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
}
.one
  background: #efdefe;
}
.two {
  background: #efdefe;
}
.three {
  background: #green;
}
.four {
  background: #00dfdf;
}

.wrapper {
...
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
 
}

.outer-warpper{
 scrollbar-width: none;
 -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display:none;
}
  
  
