*{
   margin: 0;
   padding: 0;
}

.box {
  background: #333;
  display: inline-block;
  margin: 10px 10px 0 0;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
}

.box:nth-child(2) {
  margin-bottom: 10px;
  vertical-align: bottom;
}

.box:nth-child(3) {
  margin-top: 0;
}
